@model WeightTracker.Models.FoodIntake
@{
    ViewBag.Title = "Tracker";
}
<div class="jumbotron">
    <style>
        body {
            background-image: url(https://wallpapercave.com/wp/UNgPrON.jpg );
        }
    </style>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        <div>
            Select the type of input you'll like to do.<br />
            <br />
            @Html.ActionLink("Food", "FoodInput", "TrackInput", null, new { @class = "btn btn-success btn-lg" })
            @Html.ActionLink("Make it a Meal", "MealInput", "TrackInput", null, new { @class = "btn btn-success btn-lg" })
            @Html.ActionLink("Manual", "Manual", "TrackInput", null, new { @class = "btn btn-success btn-lg" })
        </div>
        <br />
        Enter calories and mileage taking<br />
        <br />
        Calories<input asp-for="Title" class="form-control" /><br />
        Mileage <input asp-for="Title" class="form-control" /><br />
    </p>
</div>